  .viewAllExpensesUp{
    justify-content: space-between;
    flex-direction: row;
  }

  @media only screen and (max-width: 500px) {

/* AllExpenses */
  .viewAllExpensesUp{
    justify-content: flex-start;
    align-items: center;
  }
    .menuDown{
    flex-direction: column;
  }
  .menuDown .menuDownSpasi{
    margin-bottom: 5px;
  }
}

