* {
  font-family: 'Montserrat', sans-serif;
 
}

@media only screen and (max-width: 900px) {
  .modeHp {
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: column-reverse;
  }
  .Sidebar{
    display: none;
  }
  .menuDown{
    /* flex-direction: column;
    align-content:space-evenly; */
    /* width: 100vh; */
  }
}