/* start style slide horizontal */
div.scrollmenu::-webkit-scrollbar {
   display: none;
 }

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  resize: none;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
/* end style slide horizontal */

@media only screen and (max-width: 500px) {


  /*QuickInoice */
  .viewInputQuickInoice{
    flex-direction: column
  }
}